<div class="row">
  <div class="col-md-12">
    <h2>Health Check for <%= @score_card.agile_team.name %></h2>
    <br>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= simple_form_for @score_card do |f| %>
          <%= f.simple_fields_for :score_card_answers, @score_card.score_card_answers.sort_by(&:created_at) do |scaf| %>
          <div class=<%= "question_#{scaf.index + 1}" %>>
            <%= scaf.object.question.title %>
            <%= scaf.input :score, collection: ScoreCardAnswer.scores.collect {|key,_v| key }, as: :radio_buttons, label: false %>
          </div>
          <% end %>
        <%= f.button :submit, 'Update answers', class: "btn btn-default btn-md" %>
    <% end %>
  </div>
</div>