<div class="row">
  <div class="col-md-12">
    <h2><%= @agile_team.name %> - Last 5 Health Checks</h2>
  </div>
</div>
<br>

<div class="row ">
  <div class="col-md-8">
    <table class="table table-hover table-striped">
      <thead>
      <tr>
        <th>Health Check Questions</th>
        <th>Health Level</th>
        <th>Health Level</th>
        <th>Health Level</th>
        <th>Health Level</th>
        <th>Health Level</th>
      </tr>
      </thead>
      
   
      <tbody>
      <% counter = 0 %>
      <% @question_count.times.each do |count| %>
        <tr>
          <td><%= @answers[counter][count] %></td>
          <td><%= @answers[counter+1][count] %></td>
          <td><%= @answers[counter+2][count] %></td>
          <td><%= @answers[counter+3][count] %></td>
          <td><%= @answers[counter+4][count] %></td>
          <td><%= @answers[counter+5][count] %></td>
        </tr>
      <% end %>
      </tbody>
      
    </table>
  </div>
</div>