<div class="row">
    <h2>Agile Team - <%= @agile_team.name %></h2>
    <br>
    <%= simple_form_for @score_card do |f| %>
      <%= f.hidden_field :agile_team_id, value: @agile_team.id %>
      <%= f.button :submit, 'Create a new health check', class: "btn btn-default btn-md" %>
    <% end %>
</div>


<div class="row score_card_listing">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Health Check Listing</th>
    </tr>
    </thead>
    <tbody>
    <% @score_cards.each do |sc| %>
      <tr>
        <td><%= link_to sc.created_at, score_card_path(sc) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>