<div class="row">
  <div class="col-md-12">
    <h2><%= @agile_team.name %></h2>
    <br>
    <%= simple_form_for @score_card do |f| %>
      <%= f.hidden_field :agile_team_id, value: @agile_team.id %>
      <%= f.button :submit, 'Create a new health check', class: "btn btn-default btn-md" %>
    <% end %>
  </div>
</div>


<div class="row score_card_listing ">
  <div class="col-md-8">
  
  <table class="table table-hover table-striped">
    <thead>
    <tr>
      <th>Team Health (Goal 100%)</th>
      <th>Application Checks (Goal 100%)</th>
      <th>Health Check</th>
      <th>Created On</th>
    </tr>
    </thead>
    <tbody>
    <% @score_cards.each_with_index do |sc, index| %>
      <% next_score = @score_cards[index + 1] %>
      <tr>
        <td class=<%="#{sc.color(sc.trend_health(next_score))}"%>><%= "#{sc.health_check_average}" "#{sc.trend_health(next_score)}" %></span></td>
        <td class=<%="#{sc.color(sc.trend_app(next_score))}"%>><%= "#{sc.application_check_average}" "#{sc.trend_app(next_score)}" %></td>
        <td><%= link_to 'View', score_card_path(sc) %></td>
        <td><%= sc.created_at.strftime("%B %d, %Y %l:%M %p") %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  
  </div>
</div>